.app {
  text-align: center;
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 40vmin;
  margin-bottom: 40px;
}

.app-header {
  align-items: center;
  background-color: #282C34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.canvasbox {
  visibility: hidden;
}

.videobox {
  visibility: hidden;
}

.text {
  color: #FFF;
  font-size: calc(10px + 2vmin);
  margin-bottom: calc(30px + 2vmin);
}

.app-link {
  color: #61DAFB;
  font-size: calc(10px + 2vmin);
  text-decoration: underline;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
